openfisca_web_api[paster]==3.0.0
--editable git+https://github.com/sgmap/openfisca-france.git@aah#egg=openfisca-france
git+https://github.com/sgmap/openfisca-paris.git@5bd3dc249fdd0b364732edc8d45b79602631b111#egg=openfisca-paris
